.idea/** 
__pycache__/
__MACOSX/
*.zip
*.json
~settings.json
/**/*.csv
*.db
.DS_Store
.vscode/
*.txt
*.ct
Dati/README.md
Dati/Scripts/AutomaticClusterMatrix.py
Dati/Scripts/ClusterMatrix.py
Dati/Scripts/DiagramGenerator.py
Dati/Scripts/Aligners/banchMark.py
Dati/Scripts/Aligners/benchMarkNew.py
Dati/Scripts/Aligners/README.md
Dati/Scripts/Aligners/test.py
Dati/Scripts/Aligners/Aligners/alignerBP.py
Dati/Scripts/Aligners/Aligners/alignerGC.py
Dati/Scripts/Aligners/Aligners/alignerLen.py
Dati/Scripts/Aligners/parser/ctParser.py
